:root{
    --player-height:150px;
    --nav-menu-left:300px;
    --upgrade-container:120px;
    --color-secondary: rgb(103, 106, 111);
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    overflow: hidden;
}

/* Utilities classes */
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.grow1{
    flex-grow: 1;
}
.wrap{flex-wrap: wrap;}
.width100{
    width: 100%;
}
.overflow-auto{
    overflow: auto;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}


/* full-page */
.main{
    height: calc(100vh - var(--player-height));
}

.player{
    height: var(--player-height);
}

/* nav bar spotify sinistra */

.nav-menu{
    overflow: hidden;
}

.nav-menu .spotify-mid{
    flex-grow: 1;
}

/* top */

.spotify-image{
    width: 100%;
}
.spotify-image a:nth-child(2){
    display: none;
}
.spotify-image img{
    width: 75%;
    padding: 2rem;
}
.home-menu i{
    width: 35px;
    color: var(--color-secondary);
    font-size: 35px;
    padding: 0 1rem;
}

.home-menu h5{
    line-height: 35px;
    padding-left: 2rem;
}

.home-menu > div{
    padding: .5rem;
}

.deco-nav-bar-button{
    text-decoration: none;
}
.playlist-box a{
    text-decoration: none;
}
 /* mid */

.spotify-mid,
.spotify-mid > *{
    overflow: hidden;
}
.spotify-mid ul{
    overflow: scroll;
    overflow-x: hidden;
}


.spotify-mid > h4{
    padding: 1rem 2rem 1rem;
    margin-top: 1rem;
}

.plus{
    background-color: var(--color-secondary);
    padding: 0.5rem;
}
.plus i{
    font-size: 2rem;
    color: black;
}

.playlist-box > .flex > a > .plus{
    margin-left: 2rem;
}
.playlist-box > *,
.playlist-box > div > a{
    align-items: center;
    gap: 1rem;
}

.ul-playlist li{
    padding: .8rem 0rem;
    list-style: none;
}

.ul-playlist{
    margin-top: 1rem;
}
.ul-playlist a{
    padding-left: 2rem;
}

/* --------------------------   hover  ------------------------- */

.deco-nav-bar-button:hover{
    filter: brightness(1000%);
    border-left: 4px solid green;
}

.spotify-bottom .flex:hover{
    filter: brightness(1000%);
}

.spotify-image a:hover{
    filter: invert(66%) sepia(89%) saturate(447%)
    hue-rotate(81deg) brightness(88%) contrast(94%);
}

.upgrade-container a:hover{
    filter: invert(14%) sepia(69%) saturate(7475%)
    hue-rotate(8deg) brightness(78%) contrast(121%);
}

.col-music img:hover{
    filter: brightness(60%);
    transform: scale(1.1);
}

/* bottom nav */

.arrow-down {
    border-radius: 50%;
    border: 1px solid var(--color-secondary);
}

.arrow-down i{
    color: var(--color-secondary);
    padding: 0.2rem;
}

.spotify-bottom .flex {
    gap: 1rem;
    margin-left: 2rem;
}

.spotify-bottom .flex > *{
    margin: 1rem 0rem 1rem;
}

.user-container{
    align-items: center;
}

.user-container  h3{
    color: white;
    font-size: 1.3rem;

}

.user-container i{
    color: var(--color-secondary);
    font-size: 2.5rem;
}

.user-container a,
.spotify-bottom a{
    text-decoration: none;
}

hr{
    margin: 0 2rem;
    color: var(--color-secondary);
}





/* internal page */
.nav-menu{
    min-width: var(--nav-menu-left);
}

.upgrade-container{
    height: var(--upgrade-container);
}

/* upgrade section */
.upgrade-container{
    justify-content: right;
    align-items: center;
    padding-right: 2rem;
}

.upgrade-container a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 30px;
    border: 1px solid white;
}

.width-upgrade-bar{
    width: calc(100% - var(--nav-menu-left));
}

/* contenitore di nav canzoni */
.songs-container{width: 100%;}
.music-container{
    padding-top: var(--upgrade-container);
}
                    /* nav */
.nav-bar-music-internal{
    display: flex;
    justify-content: center;
}

.nav-bar-music-internal li{
    padding:1.5rem 1rem 10px;
    list-style: none;
    position: relative;
}

.nav-bar-music-internal a{
    text-decoration: none;
    color: var(--color-secondary);

}

.nav-bar-music-internal a:hover{
    color: white;
}
.nav-bar-music-internal a:hover ~ .green-bar{
    display: block;
    margin: 0 auto;
}
.green-bar{
    width: 40%;
    background-color: rgb(33, 219, 33);
    height: 4px;
    border-radius: 30px;
    display: none;
    position: absolute;
    bottom: 0;
    left: calc(30%);
    margin: 0 auto;
}
/* music sections */
.section{
    margin: 1.5rem 1.5rem 3rem;
}

.titolo h3{
    color: white;
    font-size: 1.8rem;
}

.box-songs{
    gap: 1.5rem;
    text-align: center;
}

.col-music{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.col-music img{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h4{
    color: white;
    font-size: 1.5rem;
    width: 100%;
}

h5{
    color: var(--color-secondary);
    font-size: 1.2rem;
}

.round{
    border-radius: 50%;
}

.song-image i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    /* background-color: rgba(0, 0, 0, 0.26); */
}


/* player bottom */

.container-player{
    justify-content: space-between;
    align-items: center;
}

.player-song-info{
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.player-song-info img{
    width: 80px;
    height: 80px;
}

.section-player {
    width: var(--nav-menu-left);
    justify-content: center;
    align-items: center;    
    padding: 2rem 1rem;
    gap: 1rem;
}

.player-song-items{
    gap: 1rem;
}

.player-song-items i{
    font-size: 1.5rem;
    color: var(--color-secondary);
}

.section-player > i{
    color: white;
}

.volume-bar{
    width: 100%;    
    position: relative;
}

.volume-bar-1{
    height: 5px;
    width: 100%;
    background-color: rgb(136, 136, 136);
    border-radius: 30px;
}

.volume-bar-2{
    height: 5px;
    width: 20%;
    background-color: rgb(224, 224, 224);
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.section-player > i:hover{
    color: rgb(136, 136, 136);
}

/* middle player */

.section-player-mid{
    flex-grow: 1;
    max-width: calc((var(--nav-menu-left)*1.8));
}

.player-action{
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.player-action > *{
    color: white;
}

.player-action > *:hover {
    color: rgb(136, 136, 136);
}

.player-action > i:nth-child(3):hover{
    transform: scale(1.3);
}
.player-action > i:nth-child(3){
    font-size: 2rem;
}

.song-duration{
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.song-duration > span{
    color: white;
}







@media screen and (max-width:1400px) {
    .box-songs{
        flex-wrap: wrap;
    }
    .col-music{
        width: 20%;
    }
    .nav-bar-music-internal ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav-bar-music-internal li{
        flex-basis: 20%;
    }
}

@media screen and (max-width:992px) {
    .col-music{
        width: 45%;
    }
    .player-song-items{
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media screen and (max-width:700px) {
    .nav-menu h5,
    .spotify-mid,
    h3,
    hr{
        display: none;
    }
    .nav-menu{
        justify-content: space-between;
        min-width: 100px;
    }
    .spotify-image a:nth-child(1){
        display: none;
    }
    .spotify-image a:nth-child(2){
        display: block;
        width: 100%;
    }
    .spotify-image img{
        width: 100%;
        padding: 1.5rem;
    }
    .nav-menu{
        align-items: center;
    }
    .spotify-bottom .flex{
        margin-left: 1rem;
        padding: 0;
    }
    

    .width-upgrade-bar {
        width: calc(100% - 100px);
}