:root{
    --player-height:150px;
    --nav-menu-left:350px;
    --upgrade-container:120px;
    --color-secondary: rgb(103, 106, 111);
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
}

/* Utilities classes */
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.grow1{
    flex-grow: 1;
}
.wrap{flex-wrap: wrap;}
.width100{
    width: 100%;
}
.overflow-auto{
    overflow: auto;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}


/* full-page */
.main{
    height: calc(100vh - var(--player-height));
}

.player{
    height: var(--player-height);
}

/* nav bar spotify sinistra */

.nav-menu{
    justify-content: space-between;
}

/* top */

.spotify-image{
    width: 100%;
}
.spotify-image img{
    width: 75%;
    padding: 2rem;
}
.home-menu i{
    width: 35px;
    color: var(--color-secondary);
    font-size: 35px;
    padding: 0 1rem;
}

.home-menu h5{
    line-height: 35px;
    padding-left: 2rem;
}

.home-menu > div{
    padding: .5rem;
}

.deco-nav-bar-button{
    text-decoration: none;
}
.playlist-box a{
    text-decoration: none;
}

.spotify-top > h4{
    padding: 1rem 2rem 1rem;
    margin-top: 1rem;
}

.plus{
    background-color: var(--color-secondary);
    padding: 0.5rem;
}
.plus i{
    font-size: 2rem;
    color: black;
}

.playlist-box > .flex > a > .plus{
    margin-left: 2rem;
}
.playlist-box > *,
.playlist-box > div > a{
    align-items: center;
    gap: 1rem;
}

.ul-playlist li{
    padding: .8rem 0;
    list-style: none;
}

.ul-playlist{
    padding-left: 2rem;
    margin-top: 1rem;
}

/* --------------------------   hover  ------------------------- */

.deco-nav-bar-button:hover{
    filter: brightness(1000%);
}

.spotify-bottom .flex:hover{
    filter: brightness(1000%);
}

.spotify-image a:hover{
    filter: invert(66%) sepia(89%) saturate(447%)
    hue-rotate(81deg) brightness(88%) contrast(94%);
}

.upgrade-container a:hover{
    filter: invert(14%) sepia(69%) saturate(7475%)
    hue-rotate(8deg) brightness(78%) contrast(121%);
}

.col-music img:hover{
    filter: brightness(60%);
}


/* bottom nav */

.arrow-down {
    border-radius: 50%;
    border: 1px solid var(--color-secondary);
}

.arrow-down i{
    color: var(--color-secondary);
    padding: 0.2rem;
}

.spotify-bottom .flex {
    gap: 1rem;
    margin-left: 2rem;
}

.spotify-bottom .flex > *{
    margin: 1rem 0rem 1rem;
}

.user-container{
    align-items: center;
}

.user-container  h3{
    color: white;
    font-size: 1.7rem;

}

.user-container i{
    color: var(--color-secondary);
    font-size: 3rem;
}

.user-container a,
.spotify-bottom a{
    text-decoration: none;
}

hr{
    margin: 0 2rem;
    color: var(--color-secondary);
}





/* internal page */
.nav-menu{
    min-width: var(--nav-menu-left);
}

.upgrade-container{
    height: var(--upgrade-container);
}

/* upgrade section */
.upgrade-container{
    justify-content: right;
    align-items: center;
    padding-right: 2rem;
}

.upgrade-container a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    border-radius: 30px;
    border: 1px solid white;
}

.width-upgrade-bar{
    width: calc(100% - var(--nav-menu-left));
}

/* contenitore di nav canzoni */
.songs-container{width: 100%;}
.music-container{
    padding-top: var(--upgrade-container);
}
                    /* nav */
.nav-bar-music-internal{
    display: flex;
    justify-content: center;
}

.nav-bar-music-internal li{
    padding: 1.5rem 1rem;
    list-style: none;
}

.nav-bar-music-internal a{
    text-decoration: none;
    color: var(--color-secondary);
}

.nav-bar-music-internal a:hover{
    color: white;
}

/* music sections */
.section{
    margin: 1.5rem 1.5rem 3rem;
}

.titolo h3{
    color: white;
    font-size: 1.8rem;
}

.box-songs{
    gap: 1.5rem;
    text-align: center;
}

.col-music{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.col-music img{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h4{
    color: white;
    font-size: 1.5rem;
    width: 100%;
}

h5{
    color: var(--color-secondary);
    font-size: 1.2rem;
}

.round{
    border-radius: 50%;
}

.song-image i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    /* background-color: rgba(0, 0, 0, 0.26); */
}









@media screen and (max-width:1400px) {
    .box-songs{
        flex-wrap: wrap;
    }
    .col-music{
        width: 20%;
    }
    .nav-bar-music-internal ul{
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav-bar-music-internal li{
        flex-basis: 20%;
    }
}

@media screen and (max-width:992px) {
    .col-music{
        width: 45%;
    }
}

@media screen and (max-width:700px) {
    .col-music{
}
